@inject Services.UserServices UserServices;
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            <HeadContent>
                <RadzenTheme Theme="material" />
            </HeadContent>
            @Body
        </article>
    </main>
</div>




@code
{

 
    protected override async Task OnInitializedAsync()
    {
        await AddUser();
    }

    public async Task AddUser()
    {
        var email = new UserAddViewModel
        {
            EmailDto = "ssss@gde",
        };

      await UserServices.AddUser(email);

      //todo: add section for show message
      // return 000 from user service 
    }
}
