@page "/counter"

@using BlazorAppFront.Services
@inject UserServices UserService

<h3>Meeting Links</h3>

@if (meetingLinks == null)
{
    <p>Loading meeting links...</p>
}
else if (!meetingLinks.Any())
{
    <p>No meeting links available</p>
}
else
{
<RadzenRow>
    @foreach (var link in meetingLinks)
    {
        <RadzenColumn >
            <RadzenCard class="rz-my-12" Style="max-width: 420px">
                    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" Gap="1rem" class="rz-p-4 rz-display-flex" Wrap="FlexWrap.Wrap">
                    <RadzenStack Gap="0">
                        <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0 ">
                           @link.Link
                        </RadzenText>
                        <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">Company</RadzenText>
                    </RadzenStack>
                </RadzenStack>
            </RadzenCard>
        </RadzenColumn>
    }
</RadzenRow>


@*     <div class="link-container">
        @foreach (var link in meetingLinks)
        {
            <div class="link-card">
               
                    <h5>@link.Link</h5>
            
                </div>
            }
    </div> *@
}

@code {
    private IEnumerable<MeetingLink> meetingLinks;

    protected override async Task OnInitializedAsync()
    {
        meetingLinks = await UserService.getlinks();
    }
}


@* <PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<RadzenButton Click="@ButtonClicked" Text="Hi"></RadzenButton>



@code {

    void ButtonClicked()
    {
        Console.WriteLine("clicked");
    }


    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    } *@
}
