@page "/login"
@using ShareLib
@inject HttpClient Http
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage
@inject IConfiguration Configuration

<h3>Login</h3>
<EditForm Model="user" OnSubmit="HandleLogin">
    <label for="username">Name</label>
    <InputText id="username" @bind-Value="user.email" />
    <label for="password">Password</label>
    <InputText id="password" @bind-Value="user.password" type="password" />
    <button type="submit" class="btn btn-primary">Do it!</button>
</EditForm>

@code {
    LoginDto user = new LoginDto();
    async Task HandleLogin()
    {
            var result = await Http.PostAsJsonAsync("https://localhost:7044/api/Auth/login", user);
        var token = await result.Content.ReadAsStringAsync();

        //Just hard coding the token for now :)
        //var token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IlNoYWhyaXlhciIsInJvbGUiOiJBZG1pbiIsImlhdCI6MTUxNjIzOTAyMn0.l9E7Oypb-ozndpFUkeVhOYzhtjGEuFmdYdAxhbpXAFY";

        await LocalStorage.SetItemAsync("token", token);
        await AuthStateProvider.GetAuthenticationStateAsync();
    }
}