@page "/Protectedpage"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

@attribute [Authorize]
<h1>Protected Page</h1>
<p>This page is only visible to authenticated users.</p>