@page "/Register"
@using BlazorAppFront.Services
@using ShareLib
 @inject AuthServices AuthService
@* @inject HttpClient Http *@
@* @inject UserServices UserService *@



<h3>Register</h3>

@* <p>@message</p>
<p><a href="/login">@login</a></p> *@

<EditForm Model="reg" OnSubmit="OnSubmit">
    <label for="fname">Name</label>
    <InputText id="fname" @bind-Value="reg.FirstName" />
    <label for="password">Password</label>
    <InputText id="password" @bind-Value="reg.password" type="password" />
    <label for="Lname">Lnam4</label>
    <InputText id="lname" @bind-Value="reg.LastName" />
    <label for="e-mail">emsil</label>
    <InputText id="email" @bind-Value="reg.email" />


    <button type="submit" class="btn btn-primary">Do it!</button>
</EditForm>

@code {
   ApiUserDto reg = new ApiUserDto();
   // string message = string.Empty, login = string.Empty;
    bool isDisabled = true;

    async Task OnSubmit()
    {
        isDisabled = true;
        var result = await AuthService.register(reg);

    }
}